<table class="full">
    <caption>服务区域预览(共{{ results_page.paginator.count }}项)</caption>
    <tbody>
    <tr>
        <th>编号</th>
        <th>名称</th>
    </tr>
    {% for result in results_page.object_list %}
        <tr>
            <th>{{ result.id }}</th>
            <td><a href="">{{ result.name }}<a></td>
        </tr>
    {% empty %}
        <p class="">没有服务区域可以预览！</p>
    {% endfor %}
    </tbody>
</table>
<div class="pagination">
    {% if results_page.has_previous %}
        <a href="{% url service_area_add results_page.previous_page_number %}">上一页</a>
    {% else %}
        <span class="disable">
    上一页
  </span>
    {% endif %}
    <span class="current">
    第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页
  </span>
    {% if results_page.has_next %}
        <a href="{% url service_area_add results_page.next_page_number %}">下一页</a>
    {% else %}
        <span class="disable">
    上一页
  </span>
    {% endif %}
</div>
