<form method="post" action="" class="yform full">{% csrf_token %}
  <fieldset>
    <legend>请输入用户名和密码</legend>
    {% if form.username.errors %}
    <div class="type-text error">
      <strong class="message">{{ form.username.errors }}</strong>
      {{ form.username.label_tag }}<p class="dimmed">{{ form.username.help_text}}</p>
      {{ form.username }}
    </div>
    {% else %}
    <div class="type-text">
      {{ form.username.label_tag }}<p class="dimmed">{{ form.username.help_text}}</p>
      {{ form.username }}
    </div>
    {% endif %}
    {% if form.password.errors %}
    <div class="type-text error">
      <strong class="message">{{ form.password.errors }}</strong>
      {{ form.password.label_tag }}<p class="dimmed">{{ form.password.help_text}}</p>
      {{ form.password }}
    </div>
    {% else %}
    <div class="type-text">
      {{ form.password.label_tag }}<p class="dimmed">{{ form.password.help_text}}</p>
      {{ form.password }}
    </div>
    {% endif %}
    <div class="center">
      <input type="submit" value="登入" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
      <input type="reset" value="重置" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
    </div>
  </fieldset>
</form>
