{% extends "my_layout.html" %}

{% block topnav %}
	{% if user.is_authenticated %}
		<li><a href="{% url account_person_management %}">你好，<span class="label label-info">{{ user.username }}</span></a></li>
		<li><a href="{% url account_logout %}"><span class="label label-danger">退出</span></a></li>
	{% else %}
	<li><a href="{% url hchq_index %}"><span class="label label-info">系统首页</span></a></li>		
	{% endif %}
	<li><a href="#">通知</a></li>
	<li><a href="#">下载</a></li> 
{% endblock %}

{% block header_describe %}{% endblock %}
{% block nav %}{% endblock %}
{% block teaser %}{% endblock %}
{% block col1_content %}{% endblock %}
{% block col3_content %}
<div class="subcolumns">
  <div class="c66l">
    <div class="subc note">
      <!-- Insert your subtemplate content here -->
      <h3>系统用户登入</h3>
      {% include 'account/login_form.html' %}
    </div>
  </div>
  <div class="c33r">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
</div>
{% endblock %}

