{% extends "my_layout.html" %}

{% block topnav %}
<script type="text/javascript">
  function detectBrowser()
  {
  var browser=navigator.appName
  var b_version=navigator.appVersion
  var version=parseFloat(b_version)
  if (browser!="Microsoft Internet Explorer")
  {
  }
  else
  {
  if(version <= 6)
				{
				document.write("<p style=\"text-align:right; color: red; background: transparent; border: 0\"><strong>请使用IE6以上或者Chrome浏览器(推荐)，谢谢</strong></p>");
				}
				}
				}
				detectBrowser();
				</script>

<a href="{% url hchq_index %}">系统首页</a> | <a href="#">通知</a> | <a href="#">下载</a>
{% endblock %}
{% block header_describe %}{% endblock %}
{% block nav %}{% endblock %}
{% block teaser %}{% endblock %}
{% block col1_content %}{% endblock %}
{% block col3_content %}
<div class="subcolumns">
  <div class="c66l">
    <div class="subc note">
      <!-- Insert your subtemplate content here -->
      <h3>系统用户登入</h3>
      {% include 'account/login_form.html' %}
    </div>
  </div>
  <div class="c33r">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
</div>
{% endblock %}

