{% extends "account/person_layout.html" %}

{% block site_wrapper %}
    {% if user %}
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">你好,{{ user.username }},欢迎使用本系统！</h3>
                    </div>
                    <div class="panel-body">
                        {% if user.is_superuser %}
                            <p class="lead">你是超级管理员，没有基本的用户资料！</p>
                        {% else %}
                            <table class="table">
                                <caption>个人资料</caption>
                                <tbody>
                                <tr class="{% cycle 'success' 'active' as rowcolors %}">
                                    <th>个人名称</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr class="{% cycle rowcolors %}">
                                    <th>服务区域</th>
                                    <td>{{ user.get_profile.service_area_department.service_area.name }}</td>
                                </tr>
                                <tr class="{% cycle rowcolors %}">
                                    <th>单位部门</th>
                                    <td>{{ user.get_profile.service_area_department.department.name }}</td>
                                </tr>
                                <tr class="{% cycle rowcolors %}">
                                    <th>角色权限</th>
                                    <td>{{ user.groups.get.name }}</td>
                                </tr>
                                <tr class="{% cycle rowcolors %}">
                                    <th>检查人员</th>
                                    <td>{% if result.is_checker %}是{% else %}否{% endif %}</td>
                                </tr>
                                <tr class="{% cycle rowcolors %}">
                                    <th>登入时间</th>
                                    <td>{{ user.last_login|date:"Y-m-d H:i:s" }}</td>
                                </tr>
                                <tr class="{% cycle rowcolors %}">
                                    <th>创建时间</th>
                                    <td>{{ user.date_joined|date:"Y-m-d H:i:s" }}</td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">角色权限列表</h3>
                    </div>
                    <div class="panel-body">
                        <hl class="list-group"> {% for perm in user.groups.get.permissions.all %}
                            <li class="list-group-item">{{ perm.name }}</li>
                        {% empty %}
                            <p class="lead">该用户没有任何权限！</p>
                        {% endfor %}
                        </hl>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p class="lead">对不起，该用户不存在！</p>
    {% endif %}
{% endblock %}
