{% extends "account/person_layout.html" %}

{% block header_describe %}{% endblock %}
{% block teaser %}{% endblock %}

{% block col1_content %}
{% load cache %}
{% cache 500 person_password_modify user.username %}
<ul class="nav nav-pills nav-stacked">
  <li><a href="{% url account_person_management %}">个人资料</a></li>
  {% if user.username != '003' %}
  <li class="active"><a href="{% url account_person_password_modify %}">密码修改</a></li>
  {% endif %}
</ul>
{% endcache%}
{% endblock %}

{% block col3_content %}
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">用户密码修改</h3>
			</div>
			<div class="panel-body">{% include 'account/person_password_modify_form.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

