{% extends "account/person_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">你好,{{ user.username }},欢迎使用本系统！</h3>
{% endblock %}

{% block panel_body %}
    {% if user %}
        <div class="col-md-9">
            {% if user.is_superuser %}
                <p class="lead">你是超级管理员，没有基本的用户资料！</p>
            {% else %}
                <table class="table table-condensed">
                    <caption>个人资料</caption>
                    <tbody>
                    <tr class="{% cycle 'info' 'active' as rowcolors %}">
                        <th>个人名称</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr class="{% cycle rowcolors %}">
                        <th>服务区域</th>
                        <td>{{ user.get_profile.service_area_department.service_area.name }}</td>
                    </tr>
                    <tr class="{% cycle rowcolors %}">
                        <th>单位部门</th>
                        <td>{{ user.get_profile.service_area_department.department.name }}</td>
                    </tr>
                    <tr class="{% cycle rowcolors %}">
                        <th>角色权限</th>
                        <td>{{ user.groups.get.name }}</td>
                    </tr>
                    <tr class="{% cycle rowcolors %}">
                        <th>检查人员</th>
                        <td>{% if result.is_checker %}是{% else %}否{% endif %}</td>
                    </tr>
                    <tr class="{% cycle rowcolors %}">
                        <th>登入时间</th>
                        <td>{{ user.last_login|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                    <tr class="{% cycle rowcolors %}">
                        <th>创建时间</th>
                        <td>{{ user.date_joined|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-md-3">
            <hl> {% for perm in user.groups.get.permissions.all %}
                <li>{{ perm.name }}</li>
            {% empty %}
                <p class="label label-danger">该用户没有任何权限！</p>
            {% endfor %}
            </hl>
        </div>

    {% else %}
        <p class="lead">对不起，该用户不存在！</p>
    {% endif %}
{% endblock %}