<form method="post" action="" class="yform">{% csrf_token %}
  <fieldset>
    <legend>请输入新用户密码</legend>
    {% if form.password_new.errors %}
    <div class="type-text error">
      <strong class="message">{{ form.password_new.errors }}</strong>
      {{ form.password_new.label_tag }}<sup>{{ form.password_new.help_text}}</sup>
      {{ form.password_new }}
    </div>
    {% else %}
    <div class="type-text">
      {{ form.password_new.label_tag }}<sup>{{ form.password_new.help_text}}</sup>
      {{ form.password_new }}
    </div>
    {% endif %}
    {% if form.password_confirm.errors %}
    <div class="type-text error">
      <strong class="message">{{ form.password_confirm.errors }}</strong>
      {{ form.password_confirm.label_tag }}<sup>{{ form.password_confirm.help_text}}</sup>
      {{ form.password_confirm }}
    </div>
    {% else %}
    <div class="type-text">
      {{ form.password_confirm.label_tag }}<sup>{{ form.password_confirm.help_text}}</sup>
      {{ form.password_confirm }}
    </div>
    {% endif %}
    <div class="type-button">
      <input type="submit" value="修改" class="submit"/>      
    </div>
  </fieldset>
</form>
