*~
*.pyc
*#
*.db

static/images/photos/temp/*.temp
static/images/photos/temp/*.temp.thumbnail

static/images/photos/*.thumbnail
static/images/photos/*.jpg
static/images/photos/*.gif
static/images/photos/*.JPG
static/images/photos/*.BMP
static/images/photos/*.bmp
static/images/photos/null

static/images/thumbnails/*.thumbnail
static/images/thumbnails/*.jpg
static/images/thumbnails/*.gif
static/images/thumbnails/*.JPG
static/images/thumbnails/*.BMP
static/images/thumbnails/*.bmp
static/images/thumbnails/null

.settings/*
.project
.pydevproject