<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th colspan="3">{{ service_area_name }} <span class="badge">{{ results_page.paginator.count }}</span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>删除命令</th>
    </tr>
    {% for result in results_page.object_list %}
        <tr>
            <th>{{ result.id }}</th>
            <td><a href="{{ result.get_absolute_url }}">{{ result.department.name }}</a></td>
            <td>
                <form method="post" action="#">{% csrf_token %}
                    <input type="hidden" name="service_area_department_id" value="{{ result.id }}"/>
                    <button type="submit" value="删除关联" name="submit" class="btn btn-primary">删除关联</button>
                </form>
            </td>
        </tr>
    {% empty %}
        <div class="alert alert-danger">
            <p>{{ service_area_name }} 没有关联的单位部门！</p>
        </div>
    {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <li class="{% if results_page.has_previous %} active {% else %} disabled {% endif %}">
        <a href="{% url service_area_department_delete service_area_index results_page.previous_page_number %}">上一页</a>
    </li>
    <li class="disabled"><a href="#">第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页<span
            class="sr-only">(current)</span></a></li>
    <li class="{% if results_page.has_next %} active {% else %} disabled {% endif %}">
        <a href="{% url service_area_department_delete service_area_index results_page.next_page_number %}">下一页</a>
    </li>
</ul>
