{% extends "service_area/service_area_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">{{ service_area_name }} 关联单位部门删除</h3>
{% endblock %}

{% block panel_body %}
    {% with search_form as form %}
        {% include 'service_area/service_area_department_search_form.html' %}
    {% endwith %}
    {% with delete_form as form %}
        {% for error in form.service_area_department_id.errors %}
            <p></p>
            <div class="alert alert-danger"><p>{{ error }}</p></div>
        {% empty %}
        {% endfor %}
        {% include 'service_area/service_area_department_table_delete.html' %}
    {% endwith %}
{% endblock %}