{% extends "service_area/service_area_layout.html" %}
{% block header_describe %}{% endblock %}
{% block teaser %}{% endblock %}

{% block col1_content %}
<h6 class="vlist">服务区域管理</h6>
<ul class="vlist">
  <li><a href="{% url service_area_add 1 %}">服务区域查询</a></li>
  <li><a href="{% url service_area_add 1 %}">服务区域添加</a></li>
  <li><a href="{% url service_area_modify 1 %}">服务区域修改</a></li>
  <li class="active"><strong>服务区域详情</strong></li>
  <li><a href="{% url hchq_index %}">进入系统</a></li>
</ul>
{% endblock %}
{% block col3_content %}
<!-- Insert your subtemplate content here -->
<h3>服务区域详情</h3>
<hr>
{% if result %}
<table border="0" cellpadding="0" cellspacing="0" class="full">
  <caption>
    服务区域
  </caption>
  <thead>
    <tr><th scope="col" colspan="2">{{ result.name }}</th></tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">项目</th>
      <th scope="col">内容</th>
    </tr>
    <tr>
      <th scope="row" class="sub">服务区域名称</th>
      <td>{{ result.name }}</td>
    </tr>
    <tr>
      <th scope="row" class="sub">名称创建人员</th>
      <td>{{ result.creater.username }}</td>
    </tr>
    <tr>
      <th scope="row" class="sub">初始创建时间</th>
      <td>{{ result.created_at|date:"Y-m-d H:m:s"}}</td>
    </tr>
    <tr>
      <th scope="row" class="sub">最后修改时间</th>
      <td>{{ result.updated_at|date:"Y-m-d H:m:s"}}</td>
    </tr>
  </tbody>
</table>
{% else %}
<p class="warning">对不起，该服务区不存在！</p>
{% endif %}

<div class="subcolumns">
  <div class="c66l">
    <div class="subc">
    </div>
  </div>
  <div class="c33r">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
</div>
{% endblock %}

