<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th scope="col" colspan="2">服务区域<span class="badge">{{ results_page.paginator.count }}</span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>编号</th>
        <th>名称</th>
    </tr>
    {% for result in results_page.object_list %}
        <tr class="">
            <th>{{ result.id }}</th>
            <td><a href="{{ result.get_absolute_url }}">{{ result.name }}</a></td>
        </tr>
    {% empty %}
        <div class="alert alert-danger">
            <p>没有服务区域可以查询！</p>
        </div>
    {% endfor %}
    </tbody>
</table>
{% if results_page %}
<ul class="pagination">
    <li class="{% if results_page.has_previous %} active {% else %} disabled {% endif %}">
        <a href="{% url service_area_add results_page.previous_page_number %}">上一页</a>
    </li>
    <li class="disabled"><a href="#">第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页<span
            class="sr-only">(current)</span></a></li>
    <li class="{% if results_page.has_next %} active {% else %} disabled {% endif %}">
        <a href="{% url service_area_add results_page.next_page_number %}">下一页</a>
    </li>
</ul>
{% endif %}