{% extends "service_area/service_area_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">服务区域删除</h3>
{% endblock %}

{% block panel_body %}
    {% with search_form as form %}
        {% include 'service_area/service_area_search_form.html' %}
    {% endwith %}

    {% with delete_form as form %}
        {% for error in form.service_area_id.errors %}
            <br>
            <div class="alert alert-danger"><p>{{ error }}</p></div>
        {% empty %}
            <br>
        {% endfor %}
        {% include 'service_area/service_area_table_delete.html' %}
    {% endwith  %}
{% endblock %}