{% extends "service_area/service_area_layout.html" %}
{% block header_describe %}{% endblock %}
{% block teaser %}{% endblock %}

{% block col1_content %}
<h6 class="vlist">服务区域管理</h6>
<ul class="vlist">
  <li><a href="{% url service_area_add 1 %}">服务区域查询</a></li>
  <li><a href="{% url service_area_add 1 %}">服务区域添加</a></li>
  <li class="active"><strong>服务区域详情</strong></li>
  <li><a href="{% url hchq_index %}">进入系统</a></li>
</ul>
{% endblock %}
{% block col3_content %}
<div class="subcolumns">
  <div class="c66l">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
      <h3>服务区域详情</h3>
      <hr>
      {% if result %}
      <p>{{ result.name }}</p>
      <p>{{ result.creater.username }}</p>
      <p>{{ result.created_at }}</p>        
      <p>{{ result.updated_at }}</p>
      {% else %}
      <p class="warning">对不起，该服务区不存在！</p>
      {% endif %}
    </div>
  </div>
  <div class="c33r">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
</div>
{% endblock %}

