{% extends "service_area/service_area_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">服务区域详情</h3>
{% endblock %}

{% block panel_body %}
    {% if result %}
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th colspan="2">{{ result.name }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>项目</th>
                <th>内容</th>
            </tr>
            <tr>
                <th>名称</th>
                <td>{{ result.name }}</td>
            </tr>
            <tr>
                <th>创建者</th>
                <td>{{ result.creater.username }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ result.created_at|date:"Y-m-d H:i:s" }}</td>
            </tr>
            <tr>
                <th>更新时间</th>
                <td>{{ result.updated_at|date:"Y-m-d H:i:s" }}</td>
            </tr>
            <tr>
                <th>关联单位</th>
                <td><a href="{% url service_area_department_list result.id '1' %}">关联单位详情</a></td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">
            <p>对不起，该服务区不存在！</p>
        </div>
    {% endif %}
{% endblock %}
