<form method="post" action="" class="yform">{% csrf_token %}
  <fieldset>
    <legend>请输入服务区域名称</legend>
    {% if form.service_area_name.errors %}
    <div class="type-text error">
      <strong class="message">{{ form.service_area_name.errors }}</strong>
      {{ form.service_area_name.label_tag }}<sup>{{ form.service_area_name.help_text}}</sup>
      {{ form.service_area_name }}
    </div>
    {% else %}
    <div class="type-text">
      {{ form.service_area_name.label_tag }}<sup>{{ form.service_area_name.help_text}}</sup>
      {{ form.service_area_name }}
    </div>
    {% endif %}
    <div class="type-button">
      <input type="submit" value="添加服务区域" class="submit"/>      
    </div>
  </fieldset>
</form>
