<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th colspan="2">{{ service_area_name }} 关联的单位部门<span class="badge">{{ results_page.paginator.count }}</span></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>编号</th>
        <th>名称</th>
    </tr>
    {% for result in results_page.object_list %}
        <tr>
            <th>{{ result.id }}</th>
            <td><a href="{{ result.get_absolute_url }}">{{ result.name }}</a></td>
        </tr>
    {% empty %}
        <p class="lead">{{ service_area_name }} 没有关联的单位部门！</p>
    {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <li class="{% if results_page.has_previous %} active {% else %} disabled {% endif %}">
        <a href="{% url service_area_department_list service_area_index results_page.previous_page_number %}">上一页</a>
    </li>
    <li class="disabled"><a href="#">第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页<span
            class="sr-only">(current)</span></a></li>
    <li class="{% if results_page.has_next %} active {% else %} disabled {% endif %}">
        <a href="{% url service_area_department_list service_area_index results_page.next_page_number %}">下一页</a>
    </li>
</ul>