.pac-container {
    background-color: #FFF;
    z-index: 10;
    position: fixed;
    display: inline-block;
    float: left;
}

.modal{
    padding-top: 5%;
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}