{% extends "department/department_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">单位部门添加</h3>
{% endblock %}

{% block panel_body %}
    <div class="col-md-6">
        {% with search_form as form %}
            {% include 'department/department_search_form.html' %}
        {% endwith %}
    </div>
    <div class="col-md-6">
        {% with add_form as form %}
            {% include 'department/department_add_form.html' %}
        {% endwith %}
    </div>
    {% include 'department/department_table_list.html' %}
{% endblock %}