<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th colspan="3">部门单位<span class="badge">{{ results_page.paginator.count }}</span></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>修改数据及命令</th>
    </tr>
    {% for result in results_page.object_list %}
        <tr>
            <th>{{ result.id }}</th>
            <td><a href="{{ result.get_absolute_url }}">{{ result.name }}</a></td>
            <td>
                <form method="post" action="#" class="form-inline">{% csrf_token %}
                    <div class="form-group">
                        <input name="department_name" maxlength="128" id="id_department_name" type="text"
                               class="form-control"
                               size="30" value="{{ result.name }}"/>
                    </div>
                    <input type="hidden" name="department_id" value="{{ result.id }}"/>
                    <button type="submit" value="修改" name="submit" class="btn btn-primary">修改</button>
                </form>
            </td>
        </tr>
    {% empty %}
        <div class="alert alert-danger">
            <p>没有部门单位可以修改！</p>
        </div>
    {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <li class="{% if results_page.has_previous %} active {% else %} disabled {% endif %}">
        <a href="{% url department_modify results_page.previous_page_number %}">上一页</a>
    </li>
    <li class="disabled"><a href="#">第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页<span
            class="sr-only">(current)</span></a></li>
    <li class="{% if results_page.has_next %} active {% else %} disabled {% endif %}">
        <a href="{% url department_modify results_page.next_page_number %}">下一页</a>
    </li>
</ul>
