{% extends "department/department_layout.html" %}
{% block header_describe %}{% endblock %}
{% block teaser %}{% endblock %}

{% block col1_content %}
{% load cache %}

{% cache 500 department_show user.username %}
<h6 class="vlist">科室名称管理</h6>
<ul class="vlist">
  <li><a href="{% url department_list 1 %}">科室名称查询</a></li>
  <li><a href="{% url department_add 1 %}">科室名称添加</a></li>
  <li><a href="{% url department_modify 1 %}">科室名称修改</a></li>
  <li><a href="{% url department_delete 1 %}">科室名称删除</a></li>
  <li class="active"><strong>科室名称详情</strong></li>
  
</ul>
{% endcache %}
{% endblock %}
{% block col3_content %}
<!-- Insert your subtemplate content here -->
<h3>科室名称详情</h3>
<hr>
{% if result %}
<div class="important">
<table border="0" cellpadding="0" cellspacing="0" class="full">
  <caption>
    科室名称
  </caption>
  <thead>
    <tr><th scope="col" colspan="2">{{ result.name }}</th></tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">项目</th>
      <th scope="col">内容</th>
    </tr>
    <tr>
      <th scope="row" class="sub">名称</th>
      <td class="odd">{{ result.name }}</td>
    </tr>
    <tr>
      <th scope="row" class="sub">创建者</th>
      <td class="even">{{ result.creater.username }}</td>
    </tr>
    <tr>
      <th scope="row" class="sub">创建时间</th>
      <td class="odd">{{ result.created_at|date:"Y-m-d H:i:s"}}</td>
    </tr>
    <tr>
      <th scope="row" class="sub">更新时间</th>
      <td class="even">{{ result.updated_at|date:"Y-m-d H:i:s"}}</td>
    </tr>
  </tbody>
</table>
</div>
{% else %}
<p class="warning">对不起，该服务区不存在！</p>
{% endif %}

<div class="subcolumns">
  <div class="c66l">
    <div class="subc">
    </div>
  </div>
  <div class="c33r">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
</div>
{% endblock %}

