<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th colspan="5">单位部门<span class="badge">{{ results_page.paginator.count }}</span></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>创建者</th>
        <th>创建时间</th>
        <th>更新时间</th>
    </tr>
    {% for result in results_page.object_list %}
        <tr>
            <th>{{ result.id }}</th>
            <td><a href="{{ result.get_absolute_url }}">{{ result.name }}</a></td>
            <td>{{ result.creater }}</td>
            <td>{{ result.created_at|date:"Y-m-d H:i:s" }}</td>
            <td>{{ result.updated_at|date:"Y-m-d H:i:s" }}</td>
        </tr>
    {% empty %}
        <div class="alert alert-danger">
            <p>没有单位部门可以查询！</p>
        </div>
    {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <li class="{% if results_page.has_previous %} active {% else %} disabled {% endif %}">
        <a href="{% url department_list results_page.previous_page_number %}">上一页</a>
    </li>
    <li class="disabled"><a href="#">第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页<span
            class="sr-only">(current)</span></a></li>
    <li class="{% if results_page.has_next %} active {% else %} disabled {% endif %}">
        <a href="{% url department_list results_page.next_page_number %}">下一页</a>
    </li>
</ul>