{% extends "department/department_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">单位部门修改</h3>
{% endblock %}

{% block panel_body %}
    {% with search_form as form %}
        {% include 'department/department_search_form.html' %}
    {% endwith %}
    {% with modify_form as form %}
        {% for error in form.department_name.errors %}
            <br>
            <div class="alert alert-danger"><p>{{ error }}</p></div>
        {% empty %}
        <br>
        {% endfor %}
        {% include 'department/department_table_modify.html' %}
    {% endwith %}
{% endblock %}