{% extends "department/department_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">单位部门详情</h3>
{% endblock %}

{% block panel_body %}
    {% if result %}
        <table class="table">
            <thead>
            <tr>
                <th colspan="2">{{ result.name }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>项目</th>
                <th>内容</th>
            </tr>
            <tr>
                <th>名称</th>
                <td>{{ result.name }}</td>
            </tr>
            <tr>
                <th>创建者</th>
                <td>{{ result.creater.username }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ result.created_at|date:"Y-m-d H:i:s" }}</td>
            </tr>
            <tr>
                <th>更新时间</th>
                <td>{{ result.updated_at|date:"Y-m-d H:i:s" }}</td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <p class="lead">对不起，该单位部门不存在！</p>
    {% endif %}
{% endblock %}
