{% load check_object_filter %}
<table border="0" cellpadding="0" cellspacing="0" class="full">
  <caption>已删对象</caption>
  <thead>
    <tr><th scope="col" colspan="7">已删对象查询(共{{ results_page.paginator.count}}项)</th></tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">照片</th>
      <th scope="col">妻子姓名<br>身份证号</th>
      <th scope="col">服务区域<br>单位部门</th>
      <th scope="col">丈夫姓名<br>身份证号</th>
      <th scope="col">服务区域<br>单位部门</th>
      <th scope="col">删除原因</th>
      {% if perms.department.co_delete %}
      <th scope="col">恢复命令</th>
      {% endif %}
      <!-- <th scope="col">避孕措施<br>实施时间</th> -->
    </tr>
    {% for result in results_page.object_list %}
    <tr>
      <td><a href="{{ result.get_absolute_url }}"><img src="{{ result.photo.url }}" width="47" height="41"/></a></td>
      <td>{{ result.name }}<br><a href="{{ result.get_absolute_url }}">{{ result.id_number }}</a></td>
      <td>{{ result.service_area_department.service_area.name }}<br>{{ result.service_area_department.department.name }}</td>
      <td>{{ result.mate_name }}<br>{{ result.mate_id_number }}</td>
      <td>{{ result.mate_service_area_department.service_area.name }}<br>{{ result.mate_service_area_department.department.name }}</td>
      <td>{{ result.del_reason|del_reason_local }}</td>
      <!-- <td>{{ result.ctp_method|ctp_local }}<br>{{ result.ctp_method_time|date:"Y-m-d" }}</td> -->
      {% if perms.department.co_delete %}
      <td>
        <form method="post" action=".">{% csrf_token %}
          <input type="hidden" name="id" value="{{ result.id }}" />
          <input type="submit" name="submit" value="恢复" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
        </form>
      </td>
      {% endif %}


    </tr>
    {% empty %}
    <p class="warning">没有已删对象可以查询！</p>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  {% if results_page.has_previous %}
  <span>
    <a href="{% url check_object_invaild results_page.previous_page_number %}">上一页</a>
  </span>
  {% else %}
  <span class="disable">
    上一页
  </span>
  {% endif %}
  <span class="current">
    第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页
  </span>
  {% if results_page.has_next %}
  <span>
    <a href="{% url check_object_invaild results_page.next_page_number %}">下一页</a>
  </span>
  {% else %}
  <span class="disable">
    下一页
  </span>          
  {% endif %}
</div>
