{% extends "check_object/check_object_layout.html" %}

{% block photo %}
    <script type="text/javascript">
        $(function () {
            var photo_ready = false;

            webcam.set_swf_url("{{ MEDIA_URL }}js/jpegcam/webcam.swf");
            webcam.set_quality(100); // JPEG quality (1 - 100)
            webcam.set_shutter_sound(true, "{{ MEDIA_URL }}js/jpegcam/shutter.mp3"); // play shutter click sound
            webcam.set_api_url("{% url check_object_detail_modify_camera %}");
            $("#id_camera_frame").html(webcam.get_html(320, 240));
            webcam.set_hook('onComplete', function my_completion_handler(response) {
                // extract URL out of PHP output
                photo_ready = true;
                $("#id_check_object_photo").attr("src", "{{ MEDIA_URL }}images/photos/temp/{{ user.username }}.temp");
                // reset camera for another shot
                webcam.reset();
            });

            $("#id_camera_freeze").click(function () {
                webcam.freeze();
            });
            $("#id_camera_reset").click(function () {
                webcam.reset();
            });
            $("#id_camera_upload").click(function () {
                webcam.upload();
            });
            $("#id_camera_configure").click(function () {
                webcam.configure();
            });

            var csrf_token = $("#csrf_token >div >input").attr("value");
            new AjaxUpload("id_my_uploader", {
                action: "{% url check_object_detail_modify_uploader %}",
                name: "photo",
                data: {
                    csrfmiddlewaretoken: csrf_token
                },
                onSubmit: function (file, ext) {
                    if (ext && /^(jpg|png|jpeg|gif)$/.test(ext)) {
                        /* Setting data */
                        $("#id_uploader_msg").text("正在上传文件：" + file);
                        this.disable();
                    } else {
                        // extension is not allowed
                        $("#id_uploader_msg").text("请上传jpg|png|jpeg|gif格式的文件");
                        // cancel upload
                        return false;
                    }
                },
                onComplete: function (file) {
                    photo_ready = true;
                    $("#id_uploader_msg").text("已成功上传文件：" + file);
                    $("#id_check_object_photo").attr("src", "{{ MEDIA_URL }}images/photos/temp/{{ user.username }}.temp");
                    $("#id_uploader_check_object_photo").attr("src", "{{ MEDIA_URL }}images/photos/temp/{{ user.username }}.temp");
                    this.enable();
                }
            });
            $("#id_check_object_form_add").submit(function () {
                if (photo_ready == true) {
                    return true;
                }
                else {
                    $("#id_check_object_add_submit_error").text("请先上传照片或者拍照！").show().fadeOut(5000);
                    return false;
                }
            });
        });
    </script>
{% endblock %}

{% block panel_heading %}
    <h3 class="panel-title">检查对象详细编辑</h3>
{% endblock %}

{% block panel_body %}
    {% with detail_modify_form as form %}
        <form method="post" action="{% url check_object_detail_modify %}"
              id="id_check_object_form_detail_modify">{% csrf_token %}
        <fieldset>
        <legend>检查对象信息</legend>
        <div class="row">
        <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.name.label }}</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.name.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.service_area_name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.service_area_name.label }}</label>
                    {{ form.service_area_name }}
                    {% if form.service_area_name.errors %}
                        {% for error in form.service_area_name.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.service_area_name.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.department_name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.department_name.label }}</label>
                    {{ form.department_name }}
                    {% if form.department_name.errors %}
                        {% for error in form.department_name.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.department_name.help_text }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if form.id_number.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.id_number.label }}</label>
                    {{ form.id_number }}
                    {% if form.id_number.errors %}
                        {% for error in form.id_number.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.id_number.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox {% if form.is_family.errors %} has-error {% endif %}">
                    <label>{{ form.is_family }}{{ form.is_family.label }}</label>
                    {% if form.is_family.errors %}
                        {% for error in form.is_family.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.is_family.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.wedding_time.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.wedding_time.label }}</label>
                    {{ form.wedding_time }}
                    {% if form.wedding_time.errors %}
                        {% for error in form.wedding_time.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.wedding_time.help_text }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if form.mate_name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.mate_name.label }}</label>
                    {{ form.mate_name }}
                    {% if form.mate_name.errors %}
                        {% for error in form.mate_name.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.mate_name.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.mate_service_area_name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.mate_service_area_name.label }}</label>
                    {{ form.mate_service_area_name }}
                    {% if form.mate_service_area_name.errors %}
                        {% for error in form.mate_service_area_name.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.mate_service_area_name.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.mate_department_name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.mate_department_name.label }}</label>
                    {{ form.mate_department_name }}
                    {% if form.mate_department_name.errors %}
                        {% for error in form.mate_department_name.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.mate_department_name.help_text }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if form.mate_id_number.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.mate_id_number.label }}</label>
                    {{ form.mate_id_number }}
                    {% if form.mate_id_number.errors %}
                        {% for error in form.mate_id_number.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.mate_id_number.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group {% if form.address.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.address.label }}</label>
                    {{ form.address }}
                    {% if form.address.errors %}
                        {% for error in form.address.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.address.help_text }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if form.ctp_method.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.ctp_method.label }}</label>
                    {{ form.ctp_method }}
                    {% if form.ctp_method.errors %}
                        {% for error in form.ctp_method.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.ctp_method.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group {% if form.ctp_method_time.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.ctp_method_time.label }}</label>
                    {{ form.ctp_method_time }}
                    {% if form.ctp_method_time.errors %}
                        {% for error in form.ctp_method_time.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.ctp_method_time.help_text }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if form.children_1_name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.children_1_name.label }}</label>
                    {{ form.children_1_name }}
                    {% if form.children_1_name.errors %}
                        {% for error in form.children_1_name.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.children_1_name.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.children_1_sex.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.children_1_sex.label }}</label>
                    {{ form.children_1_sex }}
                    {% if form.children_1_sex.errors %}
                        {% for error in form.children_1_sex.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.children_1_sex.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.children_1_id_number.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.children_1_id_number.label }}</label>
                    {{ form.children_1_id_number }}
                    {% if form.children_1_id_number.errors %}
                        {% for error in form.children_1_id_number.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.children_1_id_number.help_text }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if form.children_2_name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.children_2_name.label }}</label>
                    {{ form.children_2_name }}
                    {% if form.children_1_name.errors %}
                        {% for error in form.children_2_name.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.children_2_name.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.children_2_sex.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.children_2_sex.label }}</label>
                    {{ form.children_2_sex }}
                    {% if form.children_1_sex.errors %}
                        {% for error in form.children_2_sex.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.children_2_sex.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.children_2_id_number.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.children_2_id_number.label }}</label>
                    {{ form.children_2_id_number }}
                    {% if form.children_1_id_number.errors %}
                        {% for error in form.children_2_id_number.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.children_2_id_number.help_text }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if form.children_3_name.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.children_3_name.label }}</label>
                    {{ form.children_3_name }}
                    {% if form.children_3_name.errors %}
                        {% for error in form.children_3_name.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.children_3_name.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.children_3_sex.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.children_3_sex.label }}</label>
                    {{ form.children_3_sex }}
                    {% if form.children_3_sex.errors %}
                        {% for error in form.children_3_sex.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.children_3_sex.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if form.children_3_id_number.errors %} has-error {% endif %}">
                    <label class="control-label">{{ form.children_3_id_number.label }}</label>
                    {{ form.children_3_id_number }}
                    {% if form.children_3_id_number.errors %}
                        {% for error in form.children_3_id_number.errors %}
                            <span class="help-block badge">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="help-block">{{ form.children_3_id_number.help_text }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <h4 class="text-center">检查对象相片</h4>
                <img id="id_check_object_photo" src="{{ check_object.photo.url }}"/>

                <div class="caption">
                    <p class="text-center">
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myUploaderModal">
                            本地上传
                        </button>
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myCameraModal">
                            拍照上传
                        </button>
                    </p>

                </div>
            </div>
        </div>
        </div>
        {{ form.id }}
        <button type="submit" value="修改" name="submit" class="btn btn-primary btn-lg btn-block">修改</button>
        </fieldset>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="myCameraModal" tabindex="-1" role="dialog" aria-labelledby="myCameraModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myCameraModalLabel">拍照上传</h4>
                    </div>
                    <div class="modal-body">
                        <div class="thumbnail text-center">
                            <div id="id_camera_frame"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="id_camera_freeze" type="button" class="btn btn-primary">拍照</button>
                        <button id="id_camera_reset" type="button" class="btn btn-primary">重拍</button>
                        <button id="id_camera_upload" type="button" class="btn btn-primary">上传照片</button>
                        <button id="id_camera_configure" type="button" class="btn btn-primary">配置</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- Modal -->
        <div class="modal fade" id="myUploaderModal" tabindex="-1" role="dialog" aria-labelledby="myUploaderModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myUploaderModalLabel">本地上传</h4>
                    </div>
                    <div class="modal-body">
                        <div id="csrf_token">{% csrf_token %}</div>
                        <div class="thumbnail text-center">
                            <img id="id_uploader_check_object_photo" src="{{ MEDIA_URL }}images/photo.jpg"/>
                            <span id="id_uploader_msg" class="label label-primary"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="id_my_uploader" type="button" class="btn btn-primary">上传文件</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->

    {% endwith %}
{% endblock %}



