{% extends "check_object/check_object_layout.html" %}
{% block header_describe %}{% endblock %}
{% load cache %}
{% cache 500 check_object_invaild_media %}
{% block media %}
<link href="{{ MEDIA_URL }}css/auto_complete/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/file_upload/ajaxupload.js"></script>
<script type="text/javascript">
$(document).ready(function(){
                $.getJSON("{% url service_area_name_ajax %}",
                          {
                          },
                          function(data) {
                                  $("#id_service_area_name").autocomplete(data, {
                                          minChars: 0,
                                                          max: 200,
//                                                          autoFill: true,
//                                                          mustMatch: true,
                                                          matchContains: true,
                                                          scrollHeight: 220,
                                                          formatItem: function(data, i, total) {
                                                          // don't show the current month in the list of values (for whatever reason)
                                                          //if ( data[0] == months[new Date().getMonth()] ) 
                                                          //return false;
                                                          return data[0];
                                                  }
                                          });
                                  $("#id_mate_service_area_name").autocomplete(data, {
                                          minChars: 0,
                                                          max: 200,
//                                                          autoFill: true,
//                                                          mustMatch: true,
                                                          matchContains: true,
                                                          scrollHeight: 220,
                                                          formatItem: function(data, i, total) {
                                                          // don't show the current month in the list of values (for whatever reason)
                                                          //if ( data[0] == months[new Date().getMonth()] ) 
                                                          //return false;
                                                          return data[0];
                                                  }
                                          });

                          });
                       var service_area_name_old = '';
                       $("#id_department_name").focus(function() {

                                var service_area_name = $("#id_service_area_name").val();
                                if (service_area_name != '' && service_area_name != service_area_name_old)
                                {
//                                        alert('********');
                                        service_area_name_old = service_area_name;
                                        $("#id_department_name").unautocomplete();
                                        $.getJSON("{% url department_name_ajax %}",
                                                  {
                                                  service_area_name :$("#id_service_area_name").val()
                                                                  },
                                                  function(data) {
                                                          $("#id_department_name").autocomplete(data, {
                                                                  minChars: 0,
                                                                                  max: 200,
//                                                          autoFill: true,
//                                                          mustMatch: true,
                                                                                  matchContains: true,
                                                                                  scrollHeight: 220,
                                                                                  formatItem: function(data, i, total) {
                                                                                  // don't show the current month in the list of values (for whatever reason)
                                                                                  //if ( data[0] == months[new Date().getMonth()] ) 
                                                                                  //return false;
                                                                                  return data[0];
                                                                          }
                                                                  });

                                                  });

                                }
                                
                        });
                        var mate_service_area_name_old = '';
                        $("#id_mate_department_name").focus(function() {

                                var mate_service_area_name = $("#id_mate_service_area_name").val();
                                if (mate_service_area_name != '' && mate_service_area_name != mate_service_area_name_old)
                                {
//                                        alert('********');
                                        mate_service_area_name_old = mate_service_area_name;
                                        $("#id_mate_department_name").unautocomplete();
                                        $.getJSON("{% url department_name_ajax %}",
                                                  {
                                                  service_area_name :$("#id_mate_service_area_name").val()
                                                                  },
                                                  function(data) {
                                                          $("#id_mate_department_name").autocomplete(data, {
                                                                  minChars: 0,
                                                                                  max: 200,
//                                                          autoFill: true,
//                                                          mustMatch: true,
                                                                                  matchContains: true,
                                                                                  scrollHeight: 220,
                                                                                  formatItem: function(data, i, total) {
                                                                                  // don't show the current month in the list of values (for whatever reason)
                                                                                  //if ( data[0] == months[new Date().getMonth()] ) 
                                                                                  //return false;
                                                                                  return data[0];
                                                                          }
                                                                  });

                                                  });

                                }
                                
                        });
                $("#search_dialog").dialog({ autoOpen: false,
                                        modal:true,//linux测试无法打开上传界面！windows则好着呢，当部署的时候应该释放这个选项。
                                          bgiframe:true,
//                                          height: 600,
                                          width:800
//                                        buttons: [
//                                                {id:"uploader",text:"上传文件"},
//                                                {text:"确定",click:function(){$(this).dialog("close")}}
//                                                ]
                                        });

                $("#open_search_dialog").click(function(){
                                $("#search_dialog").dialog("open");
                                return false;
                        });

        });
</script>
{% endblock %}
{% endcache %}
{% block teaser %}
{% load cache %}
{% cache 500 check_object_invaild user.username %}
<div class="nav_hlist">
<ul>
  {% if perms.department.co_list %}
  <li class="active"><strong>已删对象查询</strong></li>
  {% endif %}
  {% if perms.department.co_delete %}
  <li><a href="{% url check_object_delete 1 %}">检查对象删除</a></li>
  {% endif %}
  {% if perms.department.co_modify %}
  <li><a href="{% url check_object_modify 1 %}">检查对象修改</a></li>
  {% endif %}
  {% if perms.department.co_add %}
  <li><a href="{% url check_object_add 1 %}">检查对象添加</a></li>
  {% endif %}
  {% if perms.department.co_list %}
  <li><a href="{% url check_object_list 1 %}">检查对象查询</a></li>
  {% endif %}
</ul>
</div>
{% endcache %}
{% endblock %}

{% block main %}
<button id="open_search_dialog" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">已删对象查询条件</button>
<div id="search_dialog" style="display:none;" title="查询参数">
  {% with search_form as form %}
  <form method="post" action="" class="yform full" id="id_form_add">{% csrf_token %}
    <div class="note">
      <fieldset>
        <legend>已删对象信息</legend>
        <div class="subcolumns">
          <div class="c75l">
            <div class="subc">
              <!-- Insert your subtemplate content here -->
              <div class="subcolumns">
                <div class="c50l">
                  <div class="subc">
                    <!-- Insert your subtemplate content here -->
                    {% if form.name.errors %}
                    <div class="type-text error">
                      <strong class="message">{{ form.name.errors }}</strong>
                      {{ form.name.label_tag }}
                      {{ form.name }}
                    </div>
                    {% else %}
                    <div class="type-text">
                      {{ form.name.label_tag }}
                      {{ form.name }}
                    </div>
                    {% endif %}
                    {% if form.service_area_name.errors %}
                    <div class="type-text error">
                      <strong class="message">{{ form.service_area_name.errors }}</strong>
                      {{ form.service_area_name.label_tag }}
                      {{ form.service_area_name }}
                    </div>
                    {% else %}
                    <div class="type-text">
                      {{ form.service_area_name.label_tag }}
                      {{ form.service_area_name }}
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="c50r">
                  <div class="subc">
                    <!-- Insert your subtemplate content here -->
                    {% if form.id_number.errors %}
                    <div class="type-text error">
                      <strong class="message">{{ form.id_number.errors }}</strong>
                      {{ form.id_number.label_tag }}
                      {{ form.id_number }}
                    </div>
                    {% else %}
                    <div class="type-text">
                      {{ form.id_number.label_tag }}
                      {{ form.id_number }}
                    </div>
                    {% endif %}
                    {% if form.department_name.errors %}
                    <div class="type-text error">
                      <strong class="message">{{ form.department_name.errors }}</strong>
                      {{ form.department_name.label_tag }}
                      {{ form.department_name }}
                    </div>
                    {% else %}
                    <div class="type-text">
                      {{ form.department_name.label_tag }}
                      {{ form.department_name }}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>          
            </div>          
          </div>         
          <div class="c25r">
            <div class="subc">
              <!-- Insert your subtemplate content here -->
              {% if form.wedding_time.errors %}
              <div class="type-text error">
                <strong class="message">{{ form.wedding_time.errors }}</strong>
                {{ form.wedding_time.label_tag }}
                {{ form.wedding_time }}
              </div>
              {% else %}
              <div class="type-text">
                {{ form.wedding_time.label_tag }}
                {{ form.wedding_time }}
              </div>
              {% endif %}
              <div class="subcolumns">
                <div class="c50l">
                  <div class="subc">
                    {% if form.is_family.errors %}
                    <div class="type-select error">
                      <strong class="message">{{ form.is_family.errors }}</strong>
                      {{ form.is_family.label_tag }}
                      {{ form.is_family }}
                    </div>
                    {% else %}
                    <div class="type-select">
                      {{ form.is_family.label_tag }}
                      {{ form.is_family }}
                    </div>
                    {% endif %}

                  </div>
                </div>
                <div class="c50r">
                  <div class="subc">
                    {% if form.is_fuzzy.errors %}
                    <div class="type-check error">
                      <strong class="message">{{ form.is_fuzzy.errors }}</strong>
                      {{ form.is_fuzzy.label_tag }}
                      {{ form.is_fuzzy }}
                    </div>
                    {% else %}
                    <div class="type-check">
                      {{ form.is_fuzzy.label_tag }}
                      {{ form.is_fuzzy }}
                    </div>
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>          
          </div>         
        </div>       
      </fieldset>
    </div>   
    <div class="subcolumns">
      <div class="c75l">
        <div class="subc note">
          <!-- Insert your subtemplate content here -->
          <fieldset>
            <legend>对象配偶信息</legend>
            <div class="subcolumns">
              <div class="c50l">
                <div class="subc">
                  <!-- Insert your subtemplate content here -->
                  {% if form.mate_name.errors %}
                  <div class="type-text error">
                    <strong class="message">{{ form.mate_name.errors }}</strong>
                    {{ form.mate_name.label_tag }}
                    {{ form.mate_name }}
                  </div>
                  {% else %}
                  <div class="type-text">
                    {{ form.mate_name.label_tag }}
                    {{ form.mate_name }}
                  </div>
                  {% endif %}
                  {% if form.mate_service_area_name.errors %}
                  <div class="type-text error">
                    <strong class="message">{{ form.mate_service_area_name.errors }}</strong>
                    {{ form.mate_service_area_name.label_tag }}
                    {{ form.mate_service_area_name }}
                  </div>
                  {% else %}
                  <div class="type-text">
                    {{ form.mate_service_area_name.label_tag }}
                    {{ form.mate_service_area_name }}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="c50r">
                <div class="subc">
                  <!-- Insert your subtemplate content here -->
                  {% if form.mate_id_number.errors %}
                  <div class="type-text error">
                    <strong class="message">{{ form.mate_id_number.errors }}</strong>
                    {{ form.mate_id_number.label_tag }}
                    {{ form.mate_id_number }}
                  </div>
                  {% else %}
                  <div class="type-text">
                    {{ form.mate_id_number.label_tag }}
                    {{ form.mate_id_number }}
                  </div>
                  {% endif %}
                  {% if form.mate_department_name.errors %}
                  <div class="type-text error">
                    <strong class="message">{{ form.mate_department_name.errors }}</strong>
                    {{ form.mate_department_name.label_tag }}
                    {{ form.mate_department_name }}
                  </div>
                  {% else %}
                  <div class="type-text">
                    {{ form.mate_department_name.label_tag }}
                    {{ form.mate_department_name }}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>          
          </fieldset>        
        </div>          
      </div>         
      <div class="c25r">
        <div class="subc note">
          <!-- Insert your subtemplate content here -->
          <fieldset>
            <legend>避孕措施信息</legend>
            <!-- Insert your subtemplate content here -->
            <br>
            {% if form.ctp_method.errors %}
            <div class="type-select error">
              <strong class="message">{{ form.ctp_method.errors }}</strong>
              {{ form.ctp_method.label_tag }}
              {{ form.ctp_method }}
            </div>
            {% else %}
            <div class="type-select">
              {{ form.ctp_method.label_tag }}
              {{ form.ctp_method }}
            </div>
            {% endif %}
            {% if form.ctp_method_time.errors %}
            <div class="type-text error">
              <strong class="message">{{ form.ctp_method_time.errors }}</strong>
              {{ form.ctp_method_time.label_tag }}
              {{ form.ctp_method_time }}
            </div>
            {% else %}
            <div class="type-text">
              {{ form.ctp_method_time.label_tag }}
              {{ form.ctp_method_time }}
            </div>
            {% endif %}
          </fieldset>
          
        </div>          
      </div>         
    </div>
    <div class="note">
      <fieldset>
        <legend>修改时间</legend>
        <!-- Insert your subtemplate content here -->
        <div class="subcolumns">
          <div class="c50l">
            <div class="subc">
              <!-- Insert your subtemplate content here -->
              {% if form.modify_start_time.errors %}
              <div class="type-text error">
                <strong class="message">{{ form.modify_start_time.errors }}</strong>
                {{ form.modify_start_time.label_tag }}
                {{ form.modify_start_time }}
              </div>
              {% else %}
              <div class="type-text">
                {{ form.modify_start_time.label_tag }}
                {{ form.modify_start_time }}
              </div>
              {% endif %}

            </div>
          </div>
          <div class="c50r">
            <div class="subc">
              <!-- Insert your subtemplate content here -->
              {% if form.modify_end_time.errors %}
              <div class="type-text error">
                <strong class="message">{{ form.modify_end_time.errors }}</strong>
                {{ form.modify_end_time.label_tag }}
                {{ form.modify_end_time }}
              </div>
              {% else %}
              <div class="type-text">
                {{ form.modify_end_time.label_tag }}
                {{ form.modify_end_time }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>          
      </fieldset>
    </div>
    <div class="center">
      <input type="submit"  name="submit" value="查询" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
      <input type="reset" value="重置" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
      {% if perms.department.cr_report %}
      <input type="submit"  name="submit" value="打印已删对象报表" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
      {% endif %}
      <span id="id_submit_error"></span>
    </div>
  </form>
  {% endwith %}
</div>
<hr>
{% include 'check_object/check_object_table_invaild.html' %}
{% endblock %}

