<table border="0" cellpadding="0" cellspacing="0" class="full">
  <caption>检查对象</caption>
  <thead>
    <tr><th scope="col" colspan="9">检查对象删除(共{{ results_page.paginator.count}}项)</th></tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">编号</th>
      <th scope="col">用户名称</th>
      <th scope="col">服务区域</th>
      <th scope="col">单位部门</th>
      <th scope="col">角色权限</th>
      <th scope="col">检查人员</th>
      <th scope="col">登入时间</th>
      <th scope="col">创建时间</th>
      <th scope="col">删除命令</th>
    </tr>
    {% for result in results_page.object_list %}
    <tr>
      <th scope="row" class="sub">{{ result.id }}</th>
      <td><a href="{{ result.get_absolute_url }}">{{ result.user.username }}<a></td>
      <td>{{ result.service_area_department.service_area.name }}</td>
      <td>{{ result.service_area_department.department.name }}</td>
      <td>{{ result.user.groups.get.name }}</td>
      {% if result.is_checker %} 
      <td>是</td>
      {% else %}
      <td>否</td>
      {% endif %}
      <td>{{ user.last_login|date:"Y-m-d H:i:s" }}</td>
      <td>{{ user.date_joined|date:"Y-m-d H:i:s" }}</td>
      <td>
        <form method="post" action=".">{% csrf_token %}
          <input type="hidden" name="id" value="{{ result.user.id }}" />
          <input type="submit" name="submit" value="删除" class="submit"/>      
        </form>
      </td>
    </tr>
    {% empty %}
    <p class="warning">没有检查对象可以删除！</p>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  {% if results_page.has_previous %}
  <span>
    <a href="{% url check_object_delete results_page.previous_page_number %}">上一页</a>
  </span>
  {% else %}
  <span class="disable">
    上一页
  </span>
  {% endif %}
  <span class="current">
    第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页
  </span>
  {% if results_page.has_next %}
  <span>
    <a href="{% url check_object_delete results_page.next_page_number %}">下一页</a>
  </span>
  {% else %}
  <span class="disable">
    下一页
  </span>          
  {% endif %}
</div>
