{% extends "check_object/check_object_layout.html" %}
{% block header_describe %}{% endblock %}
{% load cache %}
{% cache 500 check_object_delete_media %}
{% block media %}
<link href="{{ MEDIA_URL }}css/auto_complete/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
                $.getJSON("{% url department_name_ajax %}",
                          {
                          },
                          function(data) {
                                  $("#id_department_name").autocomplete(data, {
                                          minChars: 0,
                                                          max: 200,
//                                                          autoFill: true,
//                                                          mustMatch: true,
                                                          matchContains: true,
                                                          scrollHeight: 220,
                                                          formatItem: function(data, i, total) {
                                                          // don't show the current month in the list of values (for whatever reason)
                                                          //if ( data[0] == months[new Date().getMonth()] ) 
                                                          //return false;
                                                          return data[0];
                                                  }
                                          });

                          });
                $("#search_dialog").dialog({ autoOpen: false,
                                        modal:true,//linux测试无法打开上传界面！windows则好着呢，当部署的时候应该释放这个选项。
                                          bgiframe:true,
//                                          height: 400,
                                          width:800
//                                        buttons: [
//                                                {id:"uploader",text:"上传文件"},
//                                                {text:"确定",click:function(){$(this).dialog("close")}}
//                                                ]
                                        });

                $("#open_search_dialog").click(function(){
                                $("#search_dialog").dialog("open");
                                return false;
                        });

        });
</script>
{% endblock %}
{% endcache %}
{% block teaser %}
<div class="nav_hlist">
<ul>
  <li class="active"><strong>考勤对象删除</strong></li>
  <li><a href="{% url check_object_modify 1 %}">考勤对象修改</a></li>
  <li><a href="{% url check_object_add 1 %}">考勤对象添加</a></li>
  <li><a href="{% url check_object_list 1 %}">考勤对象查询</a></li>
</ul>
</div>
{% endblock %}

{% block main %}
<button id="open_search_dialog" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">考勤对象查询条件</button>
<div id="search_dialog" style="display:none;" title="查询参数">
  {% with search_form as form %}
  <form method="post" action="" class="yform full" id="id_form_add">{% csrf_token %}
    <div class="note">
      <fieldset>
        <legend>考勤对象信息</legend>
        <div class="subcolumns">
          <div class="c75l">
            <div class="subc">
              <!-- Insert your subtemplate content here -->
	      {% if form.name.errors %}
              <div class="type-text error">
                <strong class="message">{{ form.name.errors }}</strong>
                {{ form.name.label_tag }}
                {{ form.name }}
              </div>
              {% else %}
              <div class="type-text">
                {{ form.name.label_tag }}
                {{ form.name }}
              </div>
              {% endif %}
              {% if form.department_name.errors %}
              <div class="type-text error">
                <strong class="message">{{ form.department_name.errors }}</strong>
                {{ form.department_name.label_tag }}
                {{ form.department_name }}
              </div>
              {% else %}
              <div class="type-text">
                {{ form.department_name.label_tag }}
                {{ form.department_name }}
              </div>
              {% endif %}
            </div>          
          </div>         
          <div class="c25r">
            <div class="subc">
              <!-- Insert your subtemplate content here -->
                    {% if form.is_fuzzy.errors %}
                    <div class="type-check error">
                      <strong class="message">{{ form.is_fuzzy.errors }}</strong>
                      {{ form.is_fuzzy.label_tag }}
                      {{ form.is_fuzzy }}
                    </div>
                    {% else %}
                    <div class="type-check">
                      {{ form.is_fuzzy.label_tag }}
                      {{ form.is_fuzzy }}
                    </div>
                    {% endif %}
              
            </div>          
          </div>         
        </div>       
      </fieldset>
    </div>   
    
    <div class="center">
      <input type="submit"  name="submit" value="查询" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
      <input type="reset" value="重置" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
      <span id="id_submit_error"></span>
    </div>
  </form>
  {% endwith %}
</div>
<hr>
{% with delete_form as form %}
{% for error in form.id.errors %}
<p class="warning">{{ error }}</p>
{% empty %}
{% endfor %}
{% include 'check_object/check_object_table_delete.html' %}
{% endwith %}
<div class="subcolumns">
  <div class="c66l">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
  <div class="c33r">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
</div>
{% endblock %}

