{% extends "check_object/check_object_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">检查对象删除</h3>
{% endblock %}

{% block panel_body %}
    {% with search_form as form %}
        {% include 'check_object/check_object_search_form.html' %}
    {% endwith %}
    {% with delete_form as form %}
        {% for error in form.id.errors %}
            <br>
            <div class="alert alert-danger"><p>{{ error }}</p></div>
        {% empty %}
            <br>
        {% endfor %}
        {% include 'check_object/check_object_table_delete.html' %}
    {% endwith %}
{% endblock %}