{% extends "my_layout.html" %}
{% block media %}
<link href="{{ MEDIA_URL }}css/auto_complete/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}css/auto_complete/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}css/redmond/jquery-ui-1.8.6.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/file_upload/ajaxupload.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/check_object.js"></script>
{% endblock %}

{% block topnav %}
你好,<a href="{% url account_person_management %}">{{ user.username }}</a> | <a href="{% url account_logout %}">退出</a> | <a href="#">通知</a> | <a href="#">下载</a>
{% endblock %}

{% block header_describe %}{% endblock %}

{% block nav %}
<ul>
  <li class="active"><strong>检查对象管理</strong></li>
  <li><a href="#">检查结果管理</a></li>
  <li><a href="#">数据统计</a></li>
  <li><a href="#">报表打印</a></li>

</ul>
{% endblock %}

{% block teaser %}{% endblock %}
{% block col1_content %}{% endblock %}
{% block col3_content %}{% endblock %}
