{% extends "check_object/check_object_layout.html" %}
{% load check_object_filter %}
{% block header_describe %}{% endblock %}

{% block teaser %}
<div class="nav_hlist">
<ul>
  <li class="active"><strong>考勤对象详情</strong></li>
  <li><a href="{% url check_object_delete 1 %}">考勤对象删除</a></li>
  <li><a href="{% url check_object_modify 1 %}">考勤对象修改</a></li>
  <li><a href="{% url check_object_add 1 %}">考勤对象添加</a></li>
  <li><a href="{% url check_object_list 1 %}">考勤对象查询</a></li>
</ul>
</div>
{% endblock %}

{% block main %}
<!-- Insert your subtemplate content here -->
{% if result %}
  <div class="subcolumns">
    <div class="c75l">
      <div class="subc">
        <table border="0" cellpadding="0" cellspacing="0" class="full">
          <caption>
            考勤对象
          </caption>
          <thead>
            <tr><th scope="col" colspan="2">{{ result.name }}</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>对象姓名</td>
              <td>{{ result.name }}</td>
            </tr>
            <tr>
              <td>科室名称</td>
              <td>{{ result.department.name }}</td>
            </tr>
            <tr>
              <td>创建人员</td>
              <td>{{ result.creater.username }}</td>
            </tr>
            <tr>
              <td>创建时间</td>
              <td>{{ result.created_at|date:"Y-m-d H:i:s" }}</td>
            </tr>
            <tr>
              <td>更新时间</td>
              <td>{{ result.updated_at|date:"Y-m-d H:i:s" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="c25r">
      <div class="subc">
      </div>
    </div>
  </div>
{% else %}
<p class="warning">对不起，该考勤对象不存在！</p>
{% endif %}
{% endblock %}

