{% extends "check_object/check_object_layout.html" %}
{% block header_describe %}{% endblock %}
{% load cache %}
{% cache 500 check_object_detail_modify_media %}
{% block media %}
<link href="{{ MEDIA_URL }}css/auto_complete/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/file_upload/ajaxupload.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jpegcam/webcam.js"></script>
<script type="text/javascript">
$(document).ready(function(){
                $.getJSON("{% url department_name_ajax %}",
                          {
                          },
                          function(data) {
                                  $("#id_department_name").autocomplete(data, {
                                          minChars: 0,
                                                          max: 200,
//                                                          autoFill: true,
//                                                          mustMatch: true,
                                                          matchContains: true,
                                                          scrollHeight: 220,
                                                          formatItem: function(data, i, total) {
                                                          // don't show the current month in the list of values (for whatever reason)
                                                          //if ( data[0] == months[new Date().getMonth()] ) 
                                                          //return false;
                                                          return data[0];
                                                  }
                                          });

                          });
        });
</script>
{% endblock %}
{% endcache %}
{% block teaser %}
<div class="nav_hlist">
<ul>
  <li class="active"><strong>考勤对象编辑</strong></li>
  <li><a href="{% url check_object_delete 1 %}">考勤对象删除</a></li>
  <li><a href="{% url check_object_modify 1 %}">考勤对象修改</a></li>
  <li><a href="{% url check_object_add 1 %}">考勤对象添加</a></li>
  <li><a href="{% url check_object_list 1 %}">考勤对象查询</a></li>
</ul>
</div>
{% endblock %}

{% block main %}
  {% with detail_modify_form as form %}
  <form method="get" action="{% url check_object_detail_modify %}" class="yform full" id="id_form_detail_modify">{% csrf_token %}
    <fieldset>
    <legend>考勤对象信息</legend>
    <div class="subcolumns">
      <div class="c33l">
        <div class="subc">
          <!-- Insert your subtemplate content here -->
	  {% if form.name.errors %}
          <div class="type-text error">
            <strong class="message">{{ form.name.errors }}</strong>
            {{ form.name.label_tag }}<p class="dimmed">{{ form.name.help_text}}</p>
            {{ form.name }}
          </div>
          {% else %}
          <div class="type-text">
            {{ form.name.label_tag }}<p class="dimmed">{{ form.name.help_text}}</p>
            {{ form.name }}
          </div>
          {% endif %}
          
        </div>          
      </div>         
      <div class="c33l">
        <div class="subc">
          <!-- Insert your subtemplate content here -->
	  {% if form.department_name.errors %}
          <div class="type-text error">
            <strong class="message">{{ form.department_name.errors }}</strong>
            {{ form.department_name.label_tag }}<p class="dimmed">{{ form.department_name.help_text}}</p>
            {{ form.department_name }}
          </div>
          {% else %}
          <div class="type-text">
            {{ form.department_name.label_tag }}<p class="dimmed">{{ form.department_name.help_text}}</p>
            {{ form.department_name }}
          </div>
          {% endif %}

        </div>          
      </div>         
      <div class="c33r">
        <div class="subc">
          <!-- Insert your subtemplate content here -->
	  {% if form.profit.errors %}
	  <div class="type-text error">
            <strong class="message">{{ form.profit.errors }}</strong>
            {{ form.profit.label_tag }}<p class="dimmed">{{ form.profit.help_text}}</p>
            {{ form.profit }}
	  </div>
	  {% else %}
	  <div class="type-text">
            {{ form.profit.label_tag }}<p class="dimmed">{{ form.profit.help_text}}</p>
            {{ form.profit }}
	  </div>
	  {% endif %}

        </div>          
      </div>         
    </div>
  </fieldset>
  {{ form.id }}
  <div class="center">
    <input type="submit"  name="submit" value="修改" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
      <input type="reset" value="重置" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
    <span id="id_submit_error"></span>
  </div>
  </form>
  {% endwith %}
{% endblock %}

