<form method="post" action="#">
    {% csrf_token %}
    <fieldset>
        <legend>请输入角色名称</legend>
        <div class="form-group {% if form.role_name.errors %} has-error {% endif %}">
            <label class="control-label">{{ form.role_name.label }}</label>
            {{ form.role_name }}
            {% if form.role_name.errors %}
                {% for error in form.role_name.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.role_name.help_text }}</span>
            {% endif %}
        </div>
        <button type="submit" value="添加" name="submit" class="btn btn-primary btn-lg btn-block">添加</button>
    </fieldset>
</form>