{% extends "account/role/role_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">【{{ role_name }}】权限增加关联</h3>
{% endblock %}

{% block panel_body %}
    <div class="row">
        <div class="col-md-8">
            {% with search_form as form %}
                {% include 'account/role/role_permission_search_form.html' %}
            {% endwith %}
            {% include 'account/role/role_permission_table_list.html' %}
        </div>
        <div class="col-md-4">
        {% with add_form as form %}
            {% include 'account/role/role_permission_add_form.html' %}
        {% endwith %}
        </div>
    </div>
{% endblock %}
