{% extends "account/role/role_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">角色添加</h3>
{% endblock %}

{% block panel_body %}
    <div class="row">
        <div class="col-md-6">
            {% with search_form as form %}
                {% include 'account/role/role_search_form.html' %}
            {% endwith %}
        </div>
        <div class="col-md-6">
            {% with add_form as form %}
                {% include 'account/role/role_add_form.html' %}
            {% endwith %}
        </div>
    </div>
    <br>
    {% include 'account/role/role_table_list.html' %}
{% endblock %}