{% extends "my_layout.html" %}

{% block header_describe %}{% endblock %}

{% block nav %}
{% load cache %}
{% cache 500 role_layout user.username %}
<ul>
  <li><a href="{% url account_person_management %}">个人管理</a></li>
  {% if perms.department.sd_management %}
  <li><a href="{% url service_area_list 1 %}">服务区域管理</a></li>
  <li><a href="{% url department_list 1 %}">单位部门管理</a></li>
  {% endif %}
  {% if perms.department.role_management %}
  <li class="active"><strong>角色权限管理</strong></li>
  {% endif %}
  {% if perms.department.role_management %}
  <li><a href="{% url check_project_list 1 %}">检查项目管理</a></li>
  {% endif %}

  {% if perms.department.account_list or perms.department.account_add or perms.department.account_modify or perms.department.account_delete %}
  <li><a href="{% url account_list 1 %}">系统用户管理</a></li>
  {% endif %}
  {% if perms.department.co_list or perms.department.co_add or perms.department.co_modify or perms.department.co_delete or perms.department.cr_list or perms.department.cr_add or perms.department.report_print or perms.department.ct_print %}
  <li><a href="{% url check_object_list 1 %}">进入系统</a></li>
  {% endif %}
</ul>
{% endcache %}
{% endblock %}

{% block teaser %}{% endblock %}
{% block col1_content %}{% endblock %}
{% block col3_content %}{% endblock %}
