{% extends "account/role/role_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">{{ role_name }} 权限关联</h3>
{% endblock %}

{% block panel_body %}
    {% with search_form as form %}
    {% include 'account/role/role_permission_search_form.html' %}
    {% endwith %}
    {% with delete_form as form %}
        {% for error in form.role_permission_id.errors %}
            <br>
            <div class="alert alert-danger"><p>{{ error }}</p></div>
        {% empty %}
            <br>
        {% endfor %}
        {% include 'account/role/role_permission_table_delete.html' %}
    {% endwith %}
{% endblock %}