{% extends "account/role/role_layout.html" %}

{% block site_wrapper %}
    <h3>角色查询</h3>
    <hr>
    <div class="important">
        {% with search_form as form %}
            <form method="post" action="#" class="yform full">{% csrf_token %}
                <fieldset>
                    <legend>角色查询参数</legend>
                    {% if form.role_name.errors %}
                        <div class="type-text error">
                            <strong class="message">{{ form.role_name.errors }}</strong>

                            {{ form.role_name.label_tag }}<p class="dimmed">{{ form.role_name.help_text }}</p>
                            {{ form.role_name }}
                        </div>
                    {% else %}
                        <div class="type-text">
                            {{ form.role_name.label_tag }}<p class="dimmed">{{ form.role_name.help_text }}</p>
                            {{ form.role_name }}
                        </div>
                    {% endif %}
                    {% if form.is_fuzzy.errors %}
                        <div class="type-text error">
                            <strong class="message">{{ form.is_fuzzy.errors }}</strong>

                            {{ form.is_fuzzy.label_tag }}<p class="dimmed">{{ form.is_fuzzy.help_text }}</p>
                            {{ form.is_fuzzy }}
                        </div>
                    {% else %}
                        <div class="type-check">
                            {{ form.is_fuzzy.label_tag }}<p class="dimmed">{{ form.is_fuzzy.help_text }}</p>
                            {{ form.is_fuzzy }}
                        </div>
                    {% endif %}
                    <div class="center">
                        <input type="submit" value="查询"
                               class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
                        <input type="reset" value="重置"
                               class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
                    </div>
                </fieldset>
            </form>
        {% endwith %}
    </div>
    <hr>
    <div class="note">
        {% include 'account/role/role_table_list.html' %}
    </div>
    <div class="subcolumns">
        <div class="c66l">
            <div class="subc">
                <!-- Insert your subtemplate content here -->
            </div>
        </div>
        <div class="c33r">
            <div class="subc">
                <!-- Insert your subtemplate content here -->
            </div>
        </div>
    </div>
{% endblock %}

