<table class="table">

    <thead>
    <tr>
        <th scope="col" colspan="5">角色查询(共{{ results_page.paginator.count }}项)</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>查询关联权限</th>
        <th>添加关联权限</th>
        <th>删除关联权限</th>

    </tr>
    {% for result in results_page.object_list %}
        <tr>
            <th>{{ result.id }}</th>
            <td>
                <a href="{% url account_role_permission_list result.id '1' %}">{{ result.name }}</a>
            </td>
            <td>
                <a href="{% url account_role_permission_list result.id '1' %}">查询关联权限</a>
            </td>
            <td>
                <a href="{% url account_role_permission_add result.id '1' %}">添加关联权限</a>
            </td>
            <td>
                <a href="{% url account_role_permission_delete result.id '1' %}">删除关联权限</a>
            </td>
        </tr>
    {% empty %}
        <p class="lead">没有角色可以查询！</p>
    {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <li class="{% if results_page.has_previous %} active {% else %} disabled {% endif %}">
        <a href="{% url account_role_list results_page.previous_page_number %}">上一页</a>
    </li>
    <li class="disabled"><a href="#">第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页<span
            class="sr-only">(current)</span></a></li>
    <li class="{% if results_page.has_next %} active {% else %} disabled {% endif %}">
        <a href="{% url account_role_list results_page.next_page_number %}">下一页</a>
    </li>
</ul>