<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
  <meta name="keywords" content="{{ meta_keywords }}" />
  <meta name="description" content="{{ meta_description }}" />
  
  <link href="{{ MEDIA_URL }}css/my_layout.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/scripts.js"></script>
  <!--[if lte IE 7]>
  <link href="{{ MEDIA_URL }}css/patches/patch_my_layout.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}js/pngfix.js"></script>
  <![endif]-->
  {% block media %}
  {% endblock %}
</head>
<body>
{% block site_wrapper %}{% endblock %}
</body>
</html>
