{% extends "my_layout.html" %}

{% block site_wrapper %}
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,124,0" width="100%" height="500">  
		<param name="movie" value="{{ MEDIA_URL }}/flash/hchq.swf" />
		<param name="wmode" value="transparent" />
 		<embed src="{{ MEDIA_URL }}/flash/hchq.swf" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="100%" height="500"></embed>
	</object>
{% endblock %}