{% extends "base.html" %}

{% block site_wrapper %}
  <div class="page_margins">
    <div class="page">
      <div id="header">
        <div id="topnav">
        {% block topnav %}
        你好,<a href="{% url account_person_management %}">{{ user.username }}</a> | <a href="{% url account_logout %}">退出</a>
        {% endblock %}
        </div>
        {% load cache %}
        {% cache 500 header %}
        <div id="vbox">
        <h1><img src="{{ MEDIA_URL }}images/logo_64.png" />{{ site_name }}</h1>
        </div>
        {% endcache %}        
      </div>
      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
          {% block nav %}{% endblock %}
        </div>
      </div>
      {% block teaser %}

      {% endblock %}
      <div id="main">
        {% block main %}
        <div id="col1">
          <div id="col1_content" class="clearfix">
            <!-- add your content here -->
            {% block col1_content %}
            {% endblock %}
          </div>
        </div>
        <div id="col3">
          <div id="col3_content" class="clearfix">
            <!-- add your content here -->
            {% block col3_content %}
            {% endblock %}
          </div>            
          <!-- IE Column Clearing -->
          <div id="ie_clearing"> &#160; </div>
        </div>
        {% endblock %}
      </div>
      <!-- begin: #footer -->
      {% load cache %}
      {% cache 500 footer %}
      <div id="footer">
        <p>©2010-2011 江西省会昌县人口与计划生育委员会</p>
        <img  src="{{ MEDIA_URL }}images/django_site.gif"/>
      </div>
      {% endcache %}
    </div>
  </div>
{% endblock %}
