{% extends "base.html" %}

{% block topnav %}
	{% if user.is_authenticated %}
	<li><a href="{% url account_person_management %}">你好，<span class="label label-info">{{ user.username }}</span></a></li>
	<li><a href="{% url account_logout %}"><span class="label label-danger">退出</span></a></li>
	{% else %}
	<li><a href="{% url account_login %}"><span class="label label-primary">登入</span></a></li>
	{% endif %}
	<li><a href="#">通知</a></li>
	<li><a href="#">下载</a></li>
{% endblock %} 
{% block site_wrapper %} 
{% block main %}
<div class="span3">{% block col1_content %} {% endblock %}</div>
<div class="span9" role="main">{% block col3_content %} {% endblock %}</div>
{% endblock %}
{% endblock %}
