<ul class="pagination">
    <li class="{% if results_page.has_previous %} active {% else %} disabled {% endif %}">
        <a href="{% url url_view results_page.previous_page_number %}">上一页</a>
    </li>
    <li class="disabled"><a href="#">第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页<span
            class="sr-only">(current)</span></a></li>
    <li class="{% if results_page.has_next %} active {% else %} disabled {% endif %}">
        <a href="{% url url_view results_page.next_page_number %}">下一页</a>
    </li>
</ul>