<table class="table">
    <caption>检查项目</caption>
    <thead>
    <tr>
        <th colspan="5">检查项目修改(共{{ results_page.paginator.count }}项)</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th scope="col">编号</th>
        <th scope="col">名称</th>
        <th scope="col">开始时间<br>结束时间</th>
        <th scope="col">是否启用</th>
        <th scope="col">修改命令</th>
    </tr>
    {% for result in results_page.object_list %}
        <tr>
            <th>{{ result.id }}</th>
            <td><a href="{{ result.get_absolute_url }}">{{ result.name }}</a></td>
            <td>{{ result.start_time|date:"Y-m-d" }}
            <br>{{ result.end_time|date:"Y-m-d" }}</td>
            <td>{% if result.is_setup %} 启用{% else %}未启用{% endif %}</td>
            <td>
                <form method="post" action=".">{% csrf_token %}
                    <input type="hidden" name="check_project_id" value="{{ result.id }}"/>
                    <button type="submit" value="编辑" name="submit" class="btn btn-primary">编辑</button>
                </form>
            </td>
        </tr>
    {% empty %}
        <p class="lead">没有检查项目可以修改！</p>
    {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <li class="{% if results_page.has_previous %} active {% else %} disabled {% endif %}">
        <a href="{% url check_project_modify results_page.previous_page_number %}">上一页</a>
    </li>
    <li class="disabled"><a href="#">第 {{ results_page.number }}/{{ results_page.paginator.num_pages }} 页<span
            class="sr-only">(current)</span></a></li>
    <li class="{% if results_page.has_next %} active {% else %} disabled {% endif %}">
        <a href="{% url check_project_modify results_page.next_page_number %}">下一页</a>
    </li>
</ul>
