

<form method="post" action="#">
    {% csrf_token %}
    <fieldset>
        <legend>请输入检查项目参数</legend>
        <div class="form-group {% if form.check_project_name.errors %} has-error {% endif %}">
            <label class="control-label">{{ form.check_project_name.label }}</label>
            {{ form.check_project_name }}
            {% if form.check_project_name.errors %}
                {% for error in form.check_project_name.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.check_project_name.help_text }}</span>
            {% endif %}
        </div>
        <div class="form-group {% if form.check_project_start_time.errors %} has-error {% endif %}">
            <label class="control-label">{{ form.check_project_start_time.label }}</label>
            {{ form.check_project_start_time }}
            {% if form.check_project_start_time.errors %}
                {% for error in form.check_project_start_time.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.check_project_start_time.help_text }}</span>
            {% endif %}
        </div>
        <div class="form-group {% if form.check_project_end_time.errors %} has-error {% endif %}">
            <label class="control-label">{{ form.check_project_end_time.label }}</label>
            {{ form.check_project_end_time }}
            {% if form.check_project_end_time.errors %}
                {% for error in form.check_project_end_time.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.check_project_end_time.help_text }}</span>
            {% endif %}
        </div>
        <button type="submit" value="添加" name="submit" class="btn btn-primary btn-lg btn-block">添加</button>
    </fieldset>
</form>