{% extends "check_project/check_project_layout.html" %}

{% block site_wrapper %}
    <h3>检查项目编辑</h3>
    <hr>
    <div class="subcolumns">
        <div class="c66l">
            <div class="subc note">
                <!-- Insert your subtemplate content here -->
                <form method="post" action="{% url check_project_detail_modify %}" class="yform full">{% csrf_token %}
                    <fieldset>
                        <legend>检查项目【{{ check_project_name }}】编辑</legend>
                        {% with detail_modify_form as form %}
                            {% if form.check_project_start_time.errors %}
                                <div class="type-text error">
                                    <strong class="message">{{ form.check_project_start_time.errors }}</strong>

                                    {{ form.check_project_start_time.label_tag }}<p
                                            class="dimmed">{{ form.check_project_start_time.help_text }}</p>
                                    {{ form.check_project_start_time }}
                                </div>
                            {% else %}
                                <div class="type-text">
                                    {{ form.check_project_start_time.label_tag }}<p
                                            class="dimmed">{{ form.check_project_start_time.help_text }}</p>
                                    {{ form.check_project_start_time }}
                                </div>
                            {% endif %}
                            {% if form.check_project_end_time.errors %}
                                <div class="type-text error">
                                    <strong class="message">{{ form.check_project_end_time.errors }}</strong>

                                    {{ form.check_project_end_time.label_tag }}<p
                                            class="dimmed">{{ form.check_project_end_time.help_text }}</p>
                                    {{ form.check_project_end_time }}
                                </div>
                            {% else %}
                                <div class="type-text">
                                    {{ form.check_project_end_time.label_tag }}<p
                                            class="dimmed">{{ form.check_project_end_time.help_text }}</p>
                                    {{ form.check_project_end_time }}
                                </div>
                            {% endif %}
                            {{ form.check_project_id }}
                        {% endwith %}

                        <div class="center">
                            <input type="submit" name="submit" value="修改"
                                   class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
                            <input type="reset" value="重置"
                                   class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="c33r">
            <div class="subc">
                <!-- Insert your subtemplate content here -->
            </div>
        </div>
    </div>
{% endblock %}

