{% extends "check_project/check_project_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">检查项目详情</h3>
{% endblock %}

{% block panel_body %}
    {% if success %}
        <div class="alert alert-danger"><p>检查项目 {{ result.name }} 已成功启用！</p></div>
    {% else %}
    {% endif %}
    {% if result %}
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">{{ result.name }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>项目</th>
                    <th>内容</th>
                </tr>
                <tr>
                    <th>名称</th>
                    <td>{{ result.name }}</td>
                </tr>
                <tr>
                    <th>开始时间</th>
                    <td>{{ result.start_time|date:"Y-m-d" }}</td>
                </tr>
                <tr>
                    <th scope="row" class="sub">结束时间</th>
                    <td class="odd">{{ result.end_time|date:"Y-m-d" }}</td>
                </tr>
                <tr>
                    <th>是否启用</th>
                    <td>{% if result.is_setup %}已经启用{% else %}
                        <form method="post" action=".">{% csrf_token %}
                            <button type="submit" value="启用" name="submit" class="btn btn-primary">启用</button>
                        </form>
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td>{{ result.creater.username }}</td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td>{{ result.created_at|date:"Y-m-d H:i:s" }}</td>
                </tr>
                <tr>
                    <th>更新时间</th>
                    <td>{{ result.updated_at|date:"Y-m-d H:i:s" }}</td>
                </tr>
                </tbody>
            </table>
    {% else %}
        <p class="lead">对不起，该检查项目不存在！</p>
    {% endif %}
{% endblock %}
