{% extends "check_project/check_project_layout.html" %}
{% block header_describe %}{% endblock %}
{% block teaser %}{% endblock %}

{% block col1_content %}
<h6 class="vlist">检查项目管理</h6>
<ul class="vlist">
  <li><a href="{% url check_project_list 1 %}">检查项目查询</a></li>
  <li><a href="{% url check_project_add 1 %}">检查项目添加</a></li>
  <li><a href="{% url check_project_add 1 %}">检查项目修改</a></li>
  <li><a href="{% url check_project_delete 1 %}">检查项目删除</a></li>
  <li class="active"><strong>检查项目编辑</strong></li>
  <li><a href="{% url hchq_index %}">进入系统</a></li>
</ul>
{% endblock %}
{% block col3_content %}
<h3>检查项目编辑</h3>
<hr>
<div class="subcolumns">
  <div class="c66l">
    <div class="subc note">
      <!-- Insert your subtemplate content here -->
      <form method="post" action="{% url check_project_detail_modify %}" class="yform full">{% csrf_token %}
        <fieldset>
          <legend>检查项目【{{ check_project_name }}】编辑</legend>
          {% with detail_modify_form as form %}
          {% if form.check_project_start_time.errors %}
          <div class="type-text error">
            <strong class="message">{{ form.check_project_start_time.errors }}</strong>
            {{ form.check_project_start_time.label_tag }}<p class="dimmed">{{ form.check_project_start_time.help_text}}</p>
            {{ form.check_project_start_time }}
          </div>
          {% else %}
          <div class="type-text">
            {{ form.check_project_start_time.label_tag }}<p class="dimmed">{{ form.check_project_start_time.help_text}}</p>
            {{ form.check_project_start_time }}
          </div>
          {% endif %}
          {% if form.check_project_end_time.errors %}
          <div class="type-text error">
            <strong class="message">{{ form.check_project_end_time.errors }}</strong>
            {{ form.check_project_end_time.label_tag }}<p class="dimmed">{{ form.check_project_end_time.help_text}}</p>
            {{ form.check_project_end_time }}
          </div>
          {% else %}
          <div class="type-text">
            {{ form.check_project_end_time.label_tag }}<p class="dimmed">{{ form.check_project_end_time.help_text}}</p>
            {{ form.check_project_end_time }}
          </div>
          {% endif %}
          {{ form.check_project_id }}
          {% endwith %}

          <div class="type-button">
            <input type="submit" name="submit" value="修改" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>      
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="c33r">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
</div>
{% endblock %}

