{% extends "my_layout.html" %}


{% block header_describe %}{% endblock %}

{% block nav %}
<ul>
  <li><a href="{% url account_person_management %}">个人管理</a></li>
  <li><a href="{% url service_area_list 1 %}">服务区域管理</a></li>
  <li><a href="{% url department_list 1 %}">单位部门管理</a></li>
  <li><a href="{% url account_role_list 1 %}">角色权限管理</a></li>
  <li class="active"><strong>检查项目管理</strong></li>
  <li><a href="{% url account_list 1 %}">系统用户管理</a></li>
  <li><a href="{% url check_object_list 1 %}">进入系统</a></li>
    {% if check_project != None %}
  <li class="active"><strong>{{ check_project.name }}</strong></li>
  <li class="active"><strong>{{ check_project.end_time|date:"Y-m-d" }}</strong></li>
  <li class="active"><strong>{{ check_project.start_time|date:"Y-m-d" }}</strong></li>
  {% else %}
  <li class="active"><strong>尚未启用项目</strong></li>
  {% endif %}

</ul>
{% endblock %}

{% block teaser %}{% endblock %}
{% block col1_content %}{% endblock %}
{% block col3_content %}{% endblock %}
