<form method="post" action="#">
    {% csrf_token %}
    <fieldset>
        <legend>请输入系统用户参数</legend>
        <div class="form-group {% if form.name.errors %} has-error {% endif %}">
            <label class="control-label">{{ form.name.label }}</label>
            {{ form.name }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.name.help_text }}</span>
            {% endif %}
        </div>
         <div class="form-group {% if form.service_area_name.errors %} has-error {% endif %}">
            <label class="control-label">{{ form.service_area_name.label }}</label>
            {{ form.service_area_name }}
            {% if form.service_area_name.errors %}
                {% for error in form.service_area_name.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.service_area_name.help_text }}</span>
            {% endif %}
        </div>
        <div class="form-group {% if form.department_name.errors %} has-error {% endif %}">
            <label class="control-label">{{ form.department_name.label }}</label>
            {{ form.department_name }}
            {% if form.department_name.errors %}
                {% for error in form.department_name.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.department_name.help_text }}</span>
            {% endif %}
        </div>
         <div class="form-group {% if form.role_name.errors %} has-error {% endif %}">
            <label class="control-label">{{ form.role_name.label }}</label>
            {{ form.role_name }}
            {% if form.role_name.errors %}
                {% for error in form.role_name.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.role_name.help_text }}</span>
            {% endif %}
        </div>
        <div class="checkbox {% if form.is_checker.errors %} has-error {% endif %}">
            <label>{{ form.is_checker }}{{ form.is_checker.label }}</label>
            {% if form.is_checker.errors %}
                {% for error in form.is_checker.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.is_fuzzy.help_text }}</span>
            {% endif %}
        </div>
    <div class="form-group {% if form.contact.errors %} has-error {% endif %}">
            <label class="control-label">{{ form.contact.label }}</label>
            {{ form.contact }}
            {% if form.contact.errors %}
                {% for error in form.contact.errors %}
                    <span class="help-block badge">{{ error }}</span>
                {% endfor %}
            {% else %}
                <span class="help-block">{{ form.contact.help_text }}</span>
            {% endif %}
        </div>
        <button type="submit" value="添加" name="submit" class="btn btn-primary btn-lg btn-block">添加</button>
    </fieldset>
</form>