X{% extends "account/management/account_layout.html" %}
{% block header_describe %}{% endblock %}
{% block teaser %}{% endblock %}

{% block col1_content %}
<h6 class="vlist">系统用户管理</h6>
<ul class="vlist">
  <li><a href="{% url account_list 1 %}">系统用户查询</a></li>
  <li><a href="{% url account_add 1 %}">系统用户添加</a></li>
  <li><a href="{% url account_modify 1 %}">系统用户修改</a></li>
  <li class="active"><strong>系统用户删除</strong></li>
  <li><a href="{% url hchq_index %}">进入系统</a></li>
</ul>
{% endblock %}
{% block col3_content %}
<h3>系统用户删除</h3>
<hr>
<div class="important">
  {% with search_form as form %}
  <form method="post" action="." class="yform full">{% csrf_token %}
    <fieldset>
      <legend>系统用户查询参数</legend>
      <div class="subcolumns">
        <div class="c33l">
          <div class="subc">
            <!-- Insert your subtemplate content here -->
            {% if form.name.errors %}
            <div class="type-text error">
              <strong class="message">{{ form.name.errors }}</strong>
              {{ form.name.label_tag }}<p class="dimmed">{{ form.name.help_text}}</p>
              {{ form.name }}
            </div>
            {% else %}
            <div class="type-text">
              {{ form.name.label_tag }}<p class="dimmed">{{ form.name.help_text}}</p>
              {{ form.name }}
            </div>
            {% endif %}
            {% if form.service_area_name.errors %}
            <div class="type-text error">
              <strong class="message">{{ form.service_area_name.errors }}</strong>
              {{ form.service_area_name.label_tag }}<p class="dimmed">{{ form.service_area_name.help_text}}</p>
              {{ form.service_area_name }}
            </div>
            {% else %}
            <div class="type-text">
              {{ form.service_area_name.label_tag }}<p class="dimmed">{{ form.service_area_name.help_text}}</p>
              {{ form.service_area_name }}
            </div>
            {% endif %}
          </div>
        </div>
        <div class="c33l">
          <div class="subc">
            <!-- Insert your subtemplate content here -->
            {% if form.role_name.errors %}
            <div class="type-text error">
              <strong class="message">{{ form.role_name.errors }}</strong>
              {{ form.role_name.label_tag }}<p class="dimmed">{{ form.role_name.help_text}}</p>
              {{ form.role_name }}
            </div>
            {% else %}
            <div class="type-text">
              {{ form.role_name.label_tag }}<p class="dimmed">{{ form.role_name.help_text}}</p>
              {{ form.role_name }}
            </div>
            {% endif %}
            {% if form.department_name.errors %}
            <div class="type-text error">
              <strong class="message">{{ form.department_name.errors }}</strong>
              {{ form.department_name.label_tag }}<p class="dimmed">{{ form.department_name.help_text}}</p>
              {{ form.department_name }}
            </div>
            {% else %}
            <div class="type-text">
              {{ form.department_name.label_tag }}<p class="dimmed">{{ form.department_name.help_text}}</p>
              {{ form.department_name }}
            </div>
            {% endif %}
          </div>
        </div>
        <div class="c33r">
          <div class="subc">
            <!-- Insert your subtemplate content here -->
            {% if form.is_checker.errors %}
            <div class="type-select error">
              <strong class="message">{{ form.is_checker.errors }}</strong>
              {{ form.is_checker.label_tag }}<p class="dimmed">{{ form.is_checker.help_text}}</p>
              {{ form.is_checker }}
            </div>
            {% else %}
            <div class="type-select">
              {{ form.is_checker.label_tag }}<p class="dimmed">{{ form.is_checker.help_text}}</p>
              {{ form.is_checker }}
            </div>
            {% endif %}
            {% if form.is_fuzzy.errors %}
            <div class="type-check error">
              <strong class="message">{{ form.is_fuzzy.errors }}</strong>
              {{ form.is_fuzzy.label_tag }}<p class="dimmed">{{ form.is_fuzzy.help_text}}</p>
              {{ form.is_fuzzy }}
            </div>
            {% else %}
            <div class="type-check">
              {{ form.is_fuzzy.label_tag }}<br><p class="dimmed">{{ form.is_fuzzy.help_text}}</p>
              {{ form.is_fuzzy }}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="center">
        <input type="submit" value="查询" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-" name="submit"/>
        <input type="reset" value="重置" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only  ui-state-"/>
      </div>
    </fieldset>
  </form>
  {% endwith %}
</div>
<hr>
{% with delete_form as form %}
{% for error in form.id.errors %}
<p class="warning">{{ error }}</p>
{% empty %}
{% endfor %}
<div class="note">
  {% include 'account/management/account_table_delete.html' %}
</div>
{% endwith %}
<div class="subcolumns">
  <div class="c66l">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
  <div class="c33r">
    <div class="subc">
      <!-- Insert your subtemplate content here -->
    </div>
  </div>
</div>
{% endblock %}

