{% extends "account/management/account_layout.html" %}

{% block panel_heading %}
    <h3 class="panel-title">系统用户详情</h3>
{% endblock %}

{% block panel_body %}
    {% if success %}
        <div class="alert alert-success"><p>系统用户 {{ result.user.username }} 密码已成功重置！</p></div>
    {% else %}
    {% endif %}
    {% if result %}
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th colspan="2">{{ result.user.username }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>用户名称</th>
                    <td>{{ result.user.username }}</td>
                </tr>
                <tr>
                    <th>服务区域</th>
                    <td>{{ result.service_area_department.service_area.name }}</td>
                </tr>
                <tr>
                    <th>单位部门</th>
                    <td>{{ result.service_area_department.department.name }}</td>
                </tr>
                <tr>
                    <th>角色权限</th>
                    <td>{{ result.user.groups.get.name }}</td>
                </tr>
                <tr>
                    <th>检查人员</th>
                    <td>{% if result.is_checker %}是{% else %}否{% endif %}</td>

                </tr>
                <tr>
                    <th>联系方式</th>
                    <td>{{ result.contact }}</td>

                </tr>

                <tr>
                    <th>登入时间</th>
                    <td>{{ result.user.last_login|date:"Y-m-d H:i:s" }}</td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td>{{ result.user.date_joined|date:"Y-m-d H:i:s" }}</td>
                </tr>
                {% if perms.department.account_modify %}
                    <tr>
                        <th>密码重置</th>
                        <td>{% if success %}
                            已经重置{% else %}
                            <form method="post" action=".">{% csrf_token %}
                                <button type="submit" value="密码重置" name="submit" class="btn btn-primary">密码重置</button>
                            </form>
                        {% endif %}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
    {% else %}
        <p class="lead">对不起，该服务区不存在！</p>
    {% endif %}
{% endblock %}
